<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
  <meta charset="UTF-8">
  <title>Appointment List</title>
</head>
<a href="/auth/logout">Logout</a>
<body>
<h2> List of appointments </h2>
<table class = "table table-striped table-bordered">
  <thead>
  <tr>
    <th> Appointment Id </th>
    <th> Appointment Type </th>
    <th> Appointment Description </th>
    <th> Appointment Fee</th>
    <th> Doctor ID </th>
    <th> Patient ID </th>
    <th> Bill ID</th>
    <th> Lab ID </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${doctors.isEmpty()}">
    <td colspan="2"> No Books Available </td>
  </tr>
  <tr th:each="doctor : ${doctors}">
    <td><span th:text="${doctor.doctorId}"> Title </span></td>
    <td><span th:text="${doctor.doctorName}"> Author </span></td>
    <td><span th:text="${doctor.doctorEmail}"> Author </span></td>
    <td><span th:text="${doctor.doctorPhoneNo}"> Author </span></td>
    <td><span th:text="${doctor.doctorSpecialization}"> Author </span></td>
    <td><span th:text="${doctor.doctorClinicAddress}"> Author </span></td>
    <td><span th:text="${doctor.doctorPincode}"> Author </span></td>
  </tr>
  </tbody>
</table>

</body>
</html>