<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<a href="/auth_admin/logout">Logout</a>
<body>
<p>This is Admin homepage</p>
<a href="/admin/appointment_list_admin">Appointments</a>
<a href="/admin/doctor_list_admin">Doctor</a>
<a href="/admin/patient_list_admin">Patient</a>
<a href="/admin/lab_list_admin">Lab</a>
<a href="/admin/doctor_schedule_list_admin">Doctor Schedule</a>
<a href="/admin/lab_schedule_list_admin">Lab Schedule</a>
<a href="/admin/promotions_list_admin">Promotions</a>
</body>
</html>