<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin SignUp</title>
</head>
<body>

<form action="#" th:action="@{/auth_admin/admin_signup}" th:object="${admin}" method="post">
  <p>Admin ID: <input type="text" required="required" placeholder="unique id needed" th:field="*{adminId}" /></p>
  <p>Admin Password : <input type="password" required="required" th:field="*{adminPassword}" /></p>
  <p>Admin Confirm Password : <input type="password" required="required" th:name="confirmAdminPassword" /></p>
  <p>Admin AccessKey: <input type="text" required="required" placeholder="only alphanumeric, length 8" th:field="*{adminAccessKey}" /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>