<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Signup</title>
</head>
<body>

<form action="#" th:action="@{/auth/patient_signup}" th:object="${patient}" method="post">
  <p>Patient Id: <input type="text" required="required" th:field="*{patientId}" /></p>
  <p>Patient Full name: <input type="text" required="required" th:field="*{patientName}" /></p>
  <p>Patient Age: <input type="number" required="required" th:field="*{patientAge}" /></p>
  <p>Patient Email: <input type="text" required="required" th:field="*{patientEmail}" /></p>
  <p>Patient Phone No. : <input type="text" required="required" th:field="*{patientPhoneNo}" /></p>
  <p>Patient Password : <input type="text" required="required" th:field="*{patientPassword}" /></p>
  <p>Patient Confirm Password : <input type="text" required="required" th:name="confirmPatientPassword" /></p>
  <p>Patient Address: <input type="text" required="required" th:field="*{patientAddress}" /></p>
  <p>Patient Pincode: <input type="text" required="required" th:field="*{patientPincode}" /></p>
  <p>Patient Privacy Agreement: <input type="checkbox" name="active" th:checked="*{privacyAgreementEnabled}" /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>