<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQs</title>
</head>
<body>
<h3>FAQ page</h3>
<hr>
<p align = "center"><h4><strong> About us</strong></h4></p>
We provide an online platform for our users, the patients to book, cancel or reschedule an appointment for a doctor or
a lab and to download the reports or prescriptions and to make payments and add money to wallets. Doctors and Lab persons are our
other set of users who can delete appointments, upload prescriptions and reports. We follow the privacy rules and ensure all your
data is safe with us, through the use of encryption and decryption.
<hr>
<p><h4><b> Booking an Appointment</b></h4></p>
To book for an appointment, click on "Check Availability", which will redirect you to a page, that lets you book the appointments.
<hr>
<p><h4><b> Cancelling an Appointment</b></h4></p>
To cancel an appointment, go to "View Appointments" and click on "Delete Appointment" button.
<hr>
<p><h4><b> Rescheduling an Appointment</b></h4></p>
To reschedule an appointment, go to "View Appointments" and click on "Reschedule Appointment" button.
<hr>
<p><h4><b>Adding Money to Wallet</b></h4></p>
To add money to your wallet, you can find it in your home page, after logging in.
<hr>
<p><h4><b>Making Payment</b></h4></p>
To book any appointment, you have to make the payment first. You will prompted to pay when you're trying to book an appointment.
<hr>
<p><h4><b>Uploading the prescription</b></h4></p>
If you're a doctor and are looking to upload a prescription, you can find it on your home page, after logging in. In your list of appointments, select the "Upload Prescription" button to upload your prescription.
<hr>
<p><h4><b>Viewing the prescription</b></h4></p>
If you're a doctor who wants to view a prescription, you can find it on your home page, after logging in. In your list of appointments, select the "View Prescription" button to look at your prescription.
<hr>
<p><h4><b>Viewing the Report</b></h4></p>
If you're a doctor who wants to view a report, you can find it on your home page, after logging in. In your list of appointments, select the "View Report" button to look at your reports.
<hr>
<p><h4><b>Rating a Doctor</b></h4></p>
To rate a doctor, go to your list of appointments where you have a button "Add Doctor Rating". Upon selecting this button, you will be redirected to another page which lets you add in your reviews and rating for the respective doctor.
<hr>
<p><h4><b>Rating a Lab</b></h4></p>
To rate a lab, go to your list of appointments where you have a button "Add Lab Rating". Upon selecting this button, you will be redirected to another page which lets you add in your reviews and rating for the respective lab.
<hr>
<p><h4><b>Downloading the prescription</b></h4></p>
If you're a patient who wants to download a prescription, you can find it on your home page, after logging in. In your list of appointments, select the "View Prescription" button to download your prescription.
<hr>
<p><h4><b>Sorting Doctors on the basis of rating</b></h4></p>
If you're worried about booking an appointment with a new doctor, we have a functionality that will allow you to sort the list of doctors based on their ratings. These ratings are given by other patients/ users like you and are authentic and this will ensure, that you get treated by the best doctor available.
<hr>
<p><h4><b>When will I receive a mail about my appointment?</b></h4></p>
One day before your appointment, you would be sent a remainder mail to make sure you don't forget about the appointment or get a chance to reschedule it, if you're not available for that day.
<hr>
<p><h4><b>When will I receive a mail about my appointment?</b></h4></p>
One day before your appointment, you would be sent a remainder mail to make sure you don't forget about the appointment or get a chance to reschedule it, if you're not available for that day.
<hr>
<p><h4><b>What are the notifications that I will receive?</b></h4></p>
Notification would show you your list of appointments that you have for the current day till the next three days.
<hr>
<p>  </p>
<p>  </p>
</body>
</html>