<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
    <meta charset="UTF-8">
    <title>Prescription_List</title>
</head>
<br>
<a href="/home">Home</a>
<br>
<body>
<table>
    <thead>
    <tr>
        <th> Prescription Id </th>
        <th> Prescription Details </th>
        <th> Appointment Id </th>
        <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${prescription.isEmpty()}">
        <td colspan="2"> No Prescription Available </td>
    </tr>
    <tr th:each="prescription : ${prescription}">
        <td><span th:text="${prescription.prescriptionId}"> doctor Id </span></td>
        <td><span th:text="${prescription.prescriptionDetails}"> doctor Name </span></td>
        <td><span th:text="${prescription.appointmentId}"> doctor Email </span></td>
        <td><a th:href = "@{/download_file_prescription/{prescription_id}(prescription_id=${prescription.prescriptionId})}"
               class = "btn btn-primary">Download</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>