<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
    <meta charset="UTF-8">
    <title>Promotions List</title>
</head>
<body>
<a href="/home">back</a>
</br>
<h2> Promotions List</h2>
<table class = "table table-striped table-bordered">
    <thead>
    <tr>
        <th> Promotion Id </th>
        <th> Promotion Name </th>
        <th> Promotion Start Date </th>
        <th> Promotion End Date </th>
        <th> Amount Off </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${promotions.isEmpty()}">
        <td colspan="2"> No Promotions Available </td>
    </tr>
    <tr th:each="promotion : ${promotions}">
        <td><span th:text="${promotion.getPromotionId()}"> Promotion Id </span></td>
        <td><span th:text="${promotion.getPromotionName()}"> Promotion Name </span></td>
        <td><span th:text="${promotion.getPromotionStartDate()}"> Promotion Start Date </span></td>
        <td><span th:text="${promotion.getPromotionEndDate()}"> Promotion End Date </span></td>
        <td><span th:text="${promotion.getAmountOff()}"> Promotion Amount Off </span></td>
        <!--td><a th:href="@{display_promotions/{id}(id=${promotion.getPromotionId()})}"><button>Claim Promotion</button></a></td-->
    </tr>
    </tbody>
</table>
</body>
</html>