<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
    <meta charset="UTF-8">
    <title>Doctor List</title>
</head>
<a href="/auth/logout">Logout</a>
<br>
<a href="/home">Home</a>
<br>
<body>
<h2> Doctor Table List sorted by rating </h2>

<table class = "table table-striped table-bordered">
    <thead>
    <tr>
        <th> Doctor Id </th>
        <th> Doctor Name </th>
        <th> Doctor Email</th>
        <th> Doctor Phone No</th>
        <th> Doctor Specialization</th>
        <th> Doctor Clinic Address</th>
        <th> Doctor Pincode</th>
        <th> Doctor Fee</th>
        <th> Doctor Rating</th>
        <th> Doctor Reviews </th>
        <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${doctors.isEmpty()}">
        <td colspan="2"> No Doctors Available </td>
    </tr>
    <tr th:each="doctor : ${doctors}">
        <td><span th:text="${doctor.doctorId}"> doctor Id </span></td>
        <td><span th:text="${doctor.doctorName}"> doctor Name </span></td>
        <td><span th:text="${doctor.doctorEmail}"> doctor Email </span></td>
        <td><span th:text="${doctor.doctorPhoneNo}"> doctor PhoneNo </span></td>
        <td><span th:text="${doctor.doctorSpecialization}"> doctor Specialization </span></td>
        <td><span th:text="${doctor.doctorClinicAddress}"> doctor Clinic Address </span></td>
        <td><span th:text="${doctor.doctorPincode}"> doctor Pincode </span></td>
        <td><span th:text="${doctor.doctorFee}"> doctor Fee </span></td>
        <td><span th:text="${doctor.doctorRating}"> doctor Rating </span></td>
        <td><a th:href = "@{/reviews_doctor/{doctorId}(doctorId=${doctor.doctorId})}"
               class = "btn btn-primary">Check Reviews</a></td>
        <td><a th:href = "@{/doctor/{doctorId}(doctorId=${doctor.doctorId})}"
               class = "btn btn-primary">Check Availability</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>